<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: #abba87">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>About Us1 - Brand</title>
    <meta
      name="description"
      content="Categorias general de productos
"
    />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=AR+One+Sans&amp;display=swap"
    />
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="../assets/css/bs-theme-overrides.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css"
    />
    <link rel="stylesheet" href="../assets/css/baguetteBox.min.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Banner-Heading-Image-images.css"
    />
    <link rel="stylesheet" href="../assets/css/dark_navbar.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Dark-NavBar-Navigation-with-Button.css"
    />
    <link
      rel="stylesheet"
      href="../assets/css/Dark-NavBar-Navigation-with-Search.css"
    />
    <link
      rel="stylesheet"
      href="../assets/css/Footer---4-Columns---No-Social-Networks.css"
    />
    <link rel="stylesheet" href="../assets/css/Footer-Clean-icons.css" />
    <link
      rel="stylesheet"
      href="../assets/css/multiple-item-carousel-slider.css"
    />
    <link rel="stylesheet" href="../assets/css/vanilla-zoom.min.css" />
  </head>

  <body style="background: #abba87">
    <nav
      class="navbar navbar-expand-lg fixed-top d-flex clean-navbar"
      style="border-color: rgb(37, 113, 188); background: rgb(217, 220, 189)"
    >
      <div class="container">
        <a
          class="navbar-brand text-start d-flex logo"
          href="/Views/Paginas Principales/index_prin.html"
          style="
            color: #587a2e;
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-right: 0px;
          "
          >&nbsp;
          <img
            src="../assets/img/Logo%20Yesid.svg"
            width="65"
            height="34"
          />&nbsp;<strong>S@télite Comunic@ciones</strong></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
          id="menu"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"></li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                style="color: #587a2e; font-size: 15.8px; font-weight: bold"
                >Productos</a
              >
              <div class="dropdown-menu" style="background: #d9dcbd">
                <a
                  class="dropdown-item"
                  href="categoria_prod.html"
                  style="color: #587a2e"
                  ><strong>Automotriz</strong></a
                ><a
                  class="dropdown-item"
                  href="categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Energía solar</a
                ><a
                  class="dropdown-item"
                  href="categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Hogar</a
                ><a
                  class="dropdown-item"
                  href="categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Plaguicidas</a
                ><a
                  class="dropdown-item"
                  href="categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Radiocomunicación</a
                ><a
                  class="dropdown-item"
                  href="categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Tv satelital</a
                >
              </div>
            </li>
          </ul>
          <a style="color: #0b0b0b; font-size: 15.8px" href="../../Admin/Menú/login.html"
            ><i
              class="fa fa-user-circle-o"
              style="font-size: 30px; color: #587a2e"
            ></i
          ><label for="text" style="margin-left: 2px">Iniciar Sesión</label></a>
        </div>
      </div>
    </nav>
    <main class="page">
      <section
        class="clean-block"
        style="background: #d9dcbd; height: 181.15px"
      >
        <div class="container">
          <div class="block-heading">
            <h2
              style="
                border-color: #587a2e;
                border-top-color: rgb(59, 153, 224);
                border-right-color: rgb(59, 153, 224);
                border-bottom-color: rgb(59, 153, 224);
                border-left-color: rgb(59, 153, 224);
                color: #587a2e;
                font-family: 'ADLaM Display', serif;
              "
            >
              Titulo de la categoria
            </h2>
          </div>
        </div>
      </section>
    </main>
    <div class="container" style="background: #abba87; margin-top: 38px">
      <div class="row product-list dev">
        <div
          class="col-sm-6 col-md-4 m-auto product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none m-auto" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div
                  class="col-md-12 offset-lg-0 offset-xl-1 d-flex justify-content-center align-items-center"
                  style="width: 270px"
                >
                  <img
                    class="img-fluid d-flex float-start m-auto"
                    src="../assets/img/avatars/DSC_6469.webp"
                    style="width: 270px; text-align: center"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    Piedras para molino
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                    Juego de piedras de 4 pulgadas fabricadas en piedra volcánica, ideales para moler maíz y otros granos.
                    Su material garantiza un molido fino y homogéneo.

                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $599.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/TOTILLERA.webp"
                    style="width: 250px; text-align: center"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    Tortillera de aluminio
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                    Prensa para tortillas de aluminio de 30 cm de diámetro, resistente y fácil de usar. Perfecta para hacer tortillas de gran tamaño de manera rápida y uniforme.
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $700.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/bateria carro.png"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    bateria de carro
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                    Batería de 12 voltios, marca LTH, diseñada para ofrecer alta potencia y rendimiento confiable en vehículos automotores
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $4200.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/MOLCAJETE.webp"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                   Molcajete en forma de mango
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                    Artesanía de piedra volcánica, ideal para moler y servir salsas. Diseño ergonómico y tradicional que realza el sabor de tus platillos.
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $600.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/Extractor.png"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    Extractor de jugo
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                    Extractor de jugos manual de gran tamaño, diseñado para obtener jugo de cítricos como naranjas, toronjas y limones con facilidad y eficiencia.
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $599.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/Milono.png"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    Molino
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                    Es un molino electrico de granos, motor de .25 HP, ideal para moler diferentes tipos de granos comomaíz, trigo, café y especias. Diseñado para ofrecer un molido uniforme y eficiente.
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $1200.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/DSC_6477.JPG"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    Aceite para Motocicleta
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                  Lubricante especial para motores de 4 tiempos, marca LTH, formulado para maximizar el rendimientoy proteger contra el desgaste.
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $400.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/DSC_6476.JPG"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    bombilla
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                  Marca Oakland Pulverizadora de mochila con capacidad de 15 litros

                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $800.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div
          class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
          style="border-radius: 43px"
        >
          <a class="text-decoration-none" href="product_1.html">
            <div class="product-container" style="border-radius: 20px">
              <div class="row">
                <div class="col-md-12 offset-xl-1" style="width: 270px">
                  <img
                    class="img-fluid d-flex float-start"
                    src="../assets/img/avatars/plaguisidas.png"
                    style="width: 250px"
                    width="250"
                    height="166"
                  />
                </div>
              </div>
              <div class="row">
                <div
                  class="col-8 col-lg-10 col-xl-8 offset-lg-0 offset-xl-1"
                  style="text-align: justify; width: 190px"
                >
                  <h2 style="color: rgb(0, 0, 0); text-align: center">
                    Fumi Plagas
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description" style="text-align: justify">
                   Plaguicida líquido en presentación de atomizador, especialmente formulado para eliminar cucarachas y otras plagas domésticas de manera rápida y efectiva.
                  </p>
                  <div class="row">
                    <div
                      class="col-6 offset-lg-3 offset-xl-3"
                      style="text-align: center"
                    >
                      <p class="product-price" style="text-align: center">
                        $300.00
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <footer
      class="text-center py-4"
      style="background: #d9dcbd; margin-top: 38px"
    >
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
          <div class="col">
            <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
              <i
                class="icon-location-pin"
                style="font-weight: bold; font-size: 25px"
              ></i
              >&nbsp; av. Álvaro obregón N.- 1796
            </p>
          </div>
          <div class="col">
            <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
              <i
                class="icon-screen-smartphone"
                style="
                  color: rgb(88, 122, 46);
                  font-size: 25px;
                  font-weight: bold;
                "
              ></i
              >&nbsp; 453-537-06-03
            </p>
          </div>
          <div class="col">
            <p class="my-2" style="color: rgb(88, 122, 46); font-size: 19px">
              <i
                class="icon-envelope"
                style="
                  color: rgb(88, 122, 46);
                  font-size: 25px;
                  font-weight: bold;
                "
              ></i
              >&nbsp; yesid_amale@hotmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
            <strong
              >TECNM Campus Coalcomán Ingeniería en Sistemas Computacionales 6º
              Semestre-2025&nbsp;&nbsp;</strong
            >
          </p>
        </div>
      </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/baguetteBox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/multiple-item-carousel-slider-multiple-item-carousel-slider-bootstrap.min.js"></script>
    <script src="../assets/js/vanilla-zoom.js"></script>
    <script src="../assets/js/multiple-item-carousel-slider-multiple-item-carousel-slider-slider.js"></script>
    <script src="../assets/js/Theme_Prin.js"></script>
    <script src="../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
  </body>
</html>
