<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=AR+One+Sans&amp;display=swap"
    />
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="../assets/css/bs-theme-overrides.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css"
    />
    <link rel="stylesheet" href="../assets/css/baguetteBox.min.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Banner-Heading-Image-images.css"
    />
    <link rel="stylesheet" href="../assets/css/dark_navbar.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Dark-NavBar-Navigation-with-Button.css"
    />
    <link
      rel="stylesheet"
      href="../assets/css/Dark-NavBar-Navigation-with-Search.css"
    />
    <link
      rel="stylesheet"
      href="../assets/css/Footer---4-Columns---No-Social-Networks.css"
    />
    <link rel="stylesheet" href="../assets/css/Footer-Clean-icons.css" />
    <link
      rel="stylesheet"
      href="../assets/css/multiple-item-carousel-slider.css"
    />
    <link rel="stylesheet" href="../assets/css/vanilla-zoom.min.css" />
  </head>

  <body style="background: #abba87; height: 636px">
    <main class="page" style="background: rgba(217, 220, 189, 0.78)">
      <section
        class="d-flex clean-block"
        style="height: 141px; background: #abba87"
      >
        <div class="container">
          <div class="block-heading">
            <nav
              class="navbar navbar-expand-lg fixed-top d-flex clean-navbar"
              style="
                border-color: rgb(37, 113, 188);
                background: rgb(217, 220, 189);
              "
            >
              <div class="container">
                <a
                  class="navbar-brand text-start d-flex logo"
                  href="/Views/Paginas Principales/index_prin.html"
                  style="
                    color: #587a2e;
                    text-align: left;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-right: 0px;
                  "
                  >&nbsp;
                  <img
                    src="../assets/img/Logo%20Yesid.svg"
                    width="65"
                    height="34"
                  />&nbsp;<strong>S@télite Comunic@ciones</strong></a
                ><button
                  data-bs-toggle="collapse"
                  class="navbar-toggler"
                  data-bs-target="#navcol-1"
                  id="menu"
                >
                  <span class="visually-hidden">Toggle navigation</span
                  ><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown">
                      <a
                        class="dropdown-toggle nav-link"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        href="#"
                        style="
                          color: #587a2e;
                          font-size: 15.8px;
                          font-weight: bold;
                        "
                        >Productos</a
                      >
                      <div class="dropdown-menu" style="background: #d9dcbd">
                        <a
                          class="dropdown-item"
                          href="categoria_prod.html"
                          style="color: #587a2e"
                          ><strong>Automotriz</strong></a
                        ><a
                          class="dropdown-item"
                          href="categoria_prod.html"
                          style="color: #587a2e; font-weight: bold"
                          >Energía solar</a
                        ><a
                          class="dropdown-item"
                          href="categoria_prod.html"
                          style="color: #587a2e; font-weight: bold"
                          >Hogar</a
                        ><a
                          class="dropdown-item"
                          href="categoria_prod.html"
                          style="color: #587a2e; font-weight: bold"
                          >Plaguicidas</a
                        ><a
                          class="dropdown-item"
                          href="categoria_prod.html"
                          style="color: #587a2e; font-weight: bold"
                          >Radiocomunicación</a
                        ><a
                          class="dropdown-item"
                          href="categoria_prod.html"
                          style="color: #587a2e; font-weight: bold"
                          >Tv satelital</a
                        >
                      </div>
                    </li>
                  </ul>
                  <a
                    style="color: #0b0b0b; font-size: 15.8px"
                    href="../../Admin/Menú/login.html"
                    ><i
                      class="fa fa-user-circle-o"
                      style="font-size: 30px; color: #587a2e"
                    ></i>
                    <label for="text" style="margin-left: 2px"
                      >Iniciar Sesión</label
                    ></a
                  >
                </div>
              </div>
            </nav>
          </div>
        </div>
      </section>
    </main>
    <section class="py-4 py-xl-5" style="height: 100vh">
      <div class="container">
        <div
          class="bg-dark border rounded border-0 border-dark overflow-hidden"
        >
          <div class="row g-0">
            <div class="col-md-6" style="color: #587a2e; background: #587a2e">
              <div class="text-white p-4 p-md-5" style="color: #587a2e">
                <h2
                  class="fw-bold text-white mb-3"
                  style="font-family: 'ADLaM Display', serif"
                >
                  Tortillera de metal
                </h2>
                <p class="mb-4" style="font-family: 'AR One Sans', sans-serif">
                  Prensa para tortillas de aluminio de 30 cm de diámetro, resistente y fácil de usar. Perfecta para hacer tortillas de gran tamaño de manera rápida y uniforme.
                </p>
                <h2
                  class="fw-bold text-white mb-3"
                  style="font-family: 'ADLaM Display', serif; text-align: center; font-size: 6 rem;"
                >
                  $1,200
                </h2>
              </div>
            </div>
            <div
              class="col-md-6 order-first order-md-last"
              style="min-height: 250px"
            >
              <img
                class="w-100 h-100 fit-cover"
                src="../assets/img/TOTILLERA.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="text-center py-4" style="background: #d9dcbd">
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
          <div class="col">
            <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
              <i
                class="icon-location-pin"
                style="font-weight: bold; font-size: 25px"
              ></i
              >&nbsp; AV. Álvaro obregón N.- 1796
            </p>
          </div>
          <div class="col">
            <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
              <i
                class="icon-screen-smartphone"
                style="
                  color: rgb(88, 122, 46);
                  font-size: 25px;
                  font-weight: bold;
                "
              ></i
              >&nbsp; 453-537-06-03
            </p>
          </div>
          <div class="col">
            <p class="my-2" style="color: rgb(88, 122, 46); font-size: 19px">
              <i
                class="icon-envelope"
                style="
                  color: rgb(88, 122, 46);
                  font-size: 25px;
                  font-weight: bold;
                "
              ></i
              >&nbsp; yesid_amale@hotmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
            <strong
              >TECNM Campus Coalcomán Ingeniería en Sistemas Computacionales 6º
              Semestre-2025&nbsp;&nbsp;</strong
            >
          </p>
        </div>
      </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/baguetteBox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/multiple-item-carousel-slider-multiple-item-carousel-slider-bootstrap.min.js"></script>
    <script src="../assets/js/vanilla-zoom.js"></script>
    <script src="../assets/js/multiple-item-carousel-slider-multiple-item-carousel-slider-slider.js"></script>
    <script src="../assets/js/Theme_Prin.js"></script>
    <script src="../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
  </body>
</html>
