<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=AR+One+Sans&amp;display=swap"
    />
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="../assets/css/bs-theme-overrides.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css"
    />
    <link rel="stylesheet" href="../assets/css/baguetteBox.min.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Banner-Heading-Image-images.css"
    />
    <link rel="stylesheet" href="../assets/css/dark_navbar.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Dark-NavBar-Navigation-with-Button.css"
    />
    <link
      rel="stylesheet"
      href="../assets/css/Dark-NavBar-Navigation-with-Search.css"
    />
    <link
      rel="stylesheet"
      href="../assets/css/Footer---4-Columns---No-Social-Networks.css"
    />
    <link rel="stylesheet" href="../assets/css/Footer-Clean-icons.css" />
    <link
      rel="stylesheet"
      href="../assets/css/multiple-item-carousel-slider.css"
    />
    <link rel="stylesheet" href="../assets/css/vanilla-zoom.min.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg fixed-top d-flex clean-navbar"
      style="border-color: rgb(37, 113, 188); background: rgb(217, 220, 189)"
    >
      <div class="container">
        <a
          class="navbar-brand text-start d-flex logo"
          href="index_prin.html"
          style="
            color: #587a2e;
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-right: 0px;
          "
          >&nbsp;
          <img
            src="../assets/img/Logo%20Yesid.svg"
            width="65"
            height="34"
          />&nbsp;<strong>S@télite Comunic@ciones</strong></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
          id="menu"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"></li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                style="color: #587a2e; font-size: 15.8px; font-weight: bold"
                >Productos</a
              >
              <div class="dropdown-menu" style="background: #d9dcbd">
                <a
                  class="dropdown-item"
                  href="../Categorias/categoria_prod.html"
                  style="color: #587a2e"
                  ><strong>Automotriz</strong></a
                ><a
                  class="dropdown-item"
                  href="../Categorias/categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Energía solar</a
                ><a
                  class="dropdown-item"
                  href="../Categorias/categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Hogar</a
                ><a
                  class="dropdown-item"
                  href="../Categorias/categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Plaguicidas</a
                ><a
                  class="dropdown-item"
                  href="../Categorias/categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Radiocomunicación</a
                ><a
                  class="dropdown-item"
                  href="../Categorias/categoria_prod.html"
                  style="color: #587a2e; font-weight: bold"
                  >Tv satelital</a
                >
              </div>
            </li>
          </ul>
          <a
            style="color: #0b0b0b; font-size: 15.8px"
            href="../../Admin/Menú/login.html"
            ><i
              class="fa fa-user-circle-o"
              style="font-size: 30px; color: #587a2e"
            ></i><label for="text" style="margin-left: 2px">Iniciar Sesión</label>
          </a>
        </div>
      </div>
    </nav>
    <main class="page" style="background: rgb(255, 242, 205)">
      <section
        class="clean-block clean-hero"
        style="
          background-image: url('../assets/img/tech/imange4.webp');
          color: rgba(88, 122, 46, 0.55);
        "
      >
        <div class="text">
          <h2
            style="
              color: rgb(255, 255, 255);
              font-family: 'ADLaM Display', serif;
            "
          >
            SATELITE COMUNICACIONES
          </h2>
          <p
            style="
              color: rgb(249, 251, 246);
              font-family: 'ADLaM Display', serif;
            "
          >
            Soluciones especializadas en radiocomunicación para hogares,
            vehículos, control de plagas y sistemas de&nbsp;energía&nbsp;solar
          </p>
        </div>
      </section>
      <section
        class="justify-content-center align-items-center clean-block"
        style="background: #fff2cdb3; padding-top: 12px; padding-bottom: 0px"
      >
        <div
          class="container"
          style="padding-right: 12px; padding-top: 0px; padding-bottom: 14px"
        >
          <div class="block-heading" style="border-color: rgb(63, 104, 145)">
            <h2
              style="
                color: rgb(88, 122, 46);
                font-family: 'ADLaM Display', serif;
              "
            >
              En nuestra tienda puede encontrar
            </h2>
          </div>
          <div
            class="row justify-content-center"
            style="margin-right: -14px; margin-left: 0px"
          >
            <div class="col-md-5 feature-box">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icon-tabler-antenna icon"
                style="color: rgb(88, 122, 46)"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M20 4v8"></path>
                <path d="M16 4.5v7"></path>
                <path d="M12 5v16"></path>
                <path d="M8 5.5v5"></path>
                <path d="M4 6v4"></path>
                <path d="M20 8h-16"></path></svg
              ><a
                class="text-decoration-none"
                href="../Categorias/categoria_prod.html"
              >
                <div>
                  <h4
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                    "
                  >
                    <strong
                      ><span style="color: rgb(33, 37, 41)"
                        >TV satelital</span
                      ></strong
                    >
                  </h4>
                  <p
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                      text-align: justify;
                    "
                  >
                    ¡Vive la mejor experiencia en TV vía satélite con VTV y Star
                    TV! Disfruta los canales más vistos en México, deportes en
                    vivo y entretenimiento familiar sin&nbsp;interrupciones.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-5 feature-box">
              <i
                class="icon-microphone icon"
                style="color: rgb(88, 122, 46)"
              ></i
              ><a
                class="text-decoration-none"
                href="../Categorias/categoria_prod.html"
              >
                <div>
                  <h4
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                    "
                  >
                    <strong
                      ><span style="color: rgb(33, 37, 41)"
                        >Radiocomunicación&nbsp;</span
                      ></strong
                    >
                  </h4>
                  <p
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                      text-align: justify;
                    "
                  >
                    Mantente siempre comunicado con nuestros equipos de
                    radiocomunicación. Radios portátiles, móviles y de base para
                    mejorar el desempeño en tu trabajo con señal clara y
                    confiable. ¡Comunicación&nbsp;sin&nbsp;límites
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-5 feature-box">
              <i
                class="icon ion-ios-home icon"
                style="color: rgb(88, 122, 46)"
              ></i
              ><a
                class="text-decoration-none"
                href="../Categorias/categoria_prod.html"
              >
                <div>
                  <h4
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                    "
                  >
                    <strong
                      ><span style="color: rgb(33, 37, 41)">Hogar</span></strong
                    >
                  </h4>
                  <p
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                      text-align: justify;
                    "
                  >
                    Equipa tu hogar con tradición y calidad. Encuentra metates,
                    molinos, bateas, molcajetes, extractores de jugo, comales y
                    quemadores. Todo lo que necesitas para cocinar con
                    auténtico&nbsp;sabor
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-5 feature-box">
              <i
                class="icon ion-android-car icon"
                style="color: rgb(88, 122, 46)"
              ></i
              ><a
                class="text-decoration-none"
                href="../Categorias/categoria_prod.html"
              >
                <div>
                  <h4
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                    "
                  >
                    <strong
                      ><span style="color: rgb(33, 37, 41)"
                        >Automotriz</span
                      ></strong
                    >
                  </h4>
                  <p
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                      text-align: justify;
                    "
                  >
                    Mantén tu vehículo en óptimas condiciones con nuestra línea
                    automotriz. Acumuladores, lubricantes, bujías y cámaras para
                    autos y motocicletas. ¡Calidad y rendimiento
                    para&nbsp;cada&nbsp;viaje!
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-5 feature-box">
              <i class="icon ion-bug icon" style="color: rgb(88, 122, 46)"></i
              ><a
                class="text-decoration-none"
                href="../Categorias/categoria_prod.html"
              >
                <div>
                  <h4
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                    "
                  >
                    <strong>Plaguicidas&nbsp;</strong>
                  </h4>
                  <p
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                      text-align: justify;
                    "
                  >
                    Protege tu hogar, jardín y cultivos con los mejores
                    plaguicidas. Ofrecemos soluciones efectivas para el control
                    de maleza y plagas en espacios urbanos y agropecuarios.
                    ¡Eficiencia y seguridad&nbsp;garantizadas!
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-5 feature-box">
              <a
                class="text-decoration-none"
                href="../Categorias/categoria_prod.html"
              >
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icon-tabler-artboard icon"
                    style="color: rgb(88, 122, 46)"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M8 8m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
                    ></path>
                    <path d="M3 8l1 0"></path>
                    <path d="M3 16l1 0"></path>
                    <path d="M8 3l0 1"></path>
                    <path d="M16 3l0 1"></path>
                    <path d="M20 8l1 0"></path>
                    <path d="M20 16l1 0"></path>
                    <path d="M8 20l0 1"></path>
                    <path d="M16 20l0 1"></path>
                  </svg>
                  <h4
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                    "
                  >
                    Energia solar
                  </h4>
                  <p
                    class="text-decoration-none"
                    style="
                      color: rgb(0, 0, 0);
                      font-family: 'ADLaM Display', serif;
                      text-align: justify;
                    "
                  >
                    Aprovecha el poder del sol con nuestros calentadores de agua
                    solares y paneles solares para iluminación. Ahorra energía y
                    cuida el planeta con soluciones ecológicas y eficientes.
                    ¡Energía&nbsp;gratis
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section
        class="justify-content-center align-items-center clean-block"
        style="
          background: #fff2cdb3;
          padding: 0px 0px 0px;
          padding-top: 0px;
          padding-bottom: 0px;
        "
      >
        <div
          class="container"
          style="
            border-color: rgb(19, 30, 41);
            margin-top: 93px;
            padding-top: 0px;
            padding-right: 0px;
          "
        >
          <div
            class="text-center d-flex justify-content-center align-items-center block-heading"
            style="padding-top: 0px"
          >
            <h2
              class="text-center justify-content-center align-items-center"
              style="color: #587a2e; font-family: 'ADLaM Display', serif"
            >
              OFERTAS
            </h2>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <div
                id="carouselExampleControls"
                class="carousel"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active" style="border-radius: 0px">
                    <a
                      class="text-decoration-none"
                      href="../Categorias/product_1.html"
                      style="border-radius: 0px"
                    >
                      <div
                        class="card"
                        style="
                          border-radius: 20px;
                          border-top-left-radius: 20px;
                          border-top-right-radius: 20px;
                        "
                      >
                        <div class="img-wrapper">
                          <img
                            src="../assets/img/TOTILLERA.jpg"
                            alt="..."
                            style="
                              width: 350px;
                              height: 200px;
                              border-top-left-radius: 20px;
                              border-top-right-radius: 20px;
                            "
                          />
                        </div>
                        <div class="card-body">
                          <h5
                            class="card-title"
                            style="font-family: 'ADLaM Display', serif"
                          >
                            Tortillera de metal al 30% de descuento
                          </h5>
                          <p
                            class="card-text"
                            style="font-family: 'AR One Sans', sans-serif; text-align: justify"
                          >
                            Prensa para tortillas de aluminio de 30 cm de diámetro, resistente y fácil de usar. Perfecta para hacer tortillas de gran tamaño de manera rápida y uniforme.
                          </p>
                          <h1>
                            &nbsp;$<span style="text-decoration: line-through"
                              >1200</span
                            >&nbsp; &nbsp; &nbsp; $840
                          </h1>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item active">
                    <a
                      class="text-decoration-none"
                      href="../Categorias/product_1.html"
                    >
                      <div
                        class="card"
                        style="
                          border-top-left-radius: 20px;
                          border-top-right-radius: 20px;
                          border-bottom-right-radius: 20px;
                          border-bottom-left-radius: 20px;
                        "
                      >
                        <div class="img-wrapper">
                          <img
                            src="../assets/img/avatars/DSC_6469.webp"
                            alt="..."
                            style="
                              width: 350px;
                              height: 200px;
                              border-top-left-radius: 20px;
                              border-top-right-radius: 20px;
                            "
                          />
                        </div>
                        <div class="card-body">
                          <h5
                            class="card-title"
                            style="font-family: 'ADLaM Display', serif"
                          >
                            Piedras para molino al 40% de descuento
                          </h5>
                            <p
                            class="card-text"
                            style="font-family: 'AR One Sans', sans-serif; text-align: justify"
                          >
                           Juego de piedras de 4 pulgadas fabricadas en piedra volcánica, ideales para moler maíz y otros granos. Su material garantiza un molido fino.
                          </p>
                          <h1>
                            &nbsp;$<span style="text-decoration: line-through"
                              >800</span
                            >&nbsp; &nbsp; &nbsp; $480
                          </h1>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item active">
                    <a
                      class="text-decoration-none"
                      href="../Categorias/product_1.html"
                    >
                      <div class="card" style="border-radius: 20px">
                        <div class="img-wrapper">
                          <img
                            src="../assets/img/avatars/MOLCAJETE.webp"
                            alt="..."
                            style="
                              width: 350px;
                              height: 200px;
                              border-top-left-radius: 20px;
                              border-top-right-radius: 20px;
                            "
                          />
                        </div>
                        <div class="card-body">
                          <h5
                            class="card-title"
                            style="font-family: 'ADLaM Display', serif"
                          >
                            Molcajete en forma de mango al 30% de descuento
                          </h5>
                          <p
                            class="card-text"
                            style="font-family: 'AR One Sans', sans-serif ; text-align: justify"
                          >
                            Artesanía de piedra volcánica, ideal para moler y servir salsas. Diseño ergonómico y tradicional que realza el sabor de tus platillos.
                          </p>
                          <h1>
                            &nbsp;$<span style="text-decoration: line-through"
                              >5000</span
                            >&nbsp; &nbsp; $3500
                          </h1>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item active">
                    <a
                      class="text-decoration-none"
                      href="../Categorias/product_1.html"
                    >
                      <div class="card" style="border-radius: 20px">
                        <div class="img-wrapper">
                          <img
                            src="../assets/img/avatars/bateria%20carro.png"
                            alt="..."
                            style="
                              width: 350px;
                              height: 200px;
                              border-top-left-radius: 20px;
                              border-top-right-radius: 20px;
                            "
                          />
                        </div>
                        <div class="card-body">
                          <h5
                            class="card-title"
                            style="font-family: 'ADLaM Display', serif"
                          >
                            Batería LTH 12 Vt 20% de descuento
                          </h5>
                          <p
                            class="card-text"
                            style="font-family: 'AR One Sans', sans-serif; text-align: justify"
                          >
                           Batería de 12 voltios, marca LTH, diseñada para ofrecer alta potencia y rendimiento confiable en vehículos automotores
                          </p>
                          <h1>
                            &nbsp;$<span style="text-decoration: line-through"
                              >2500</span
                            >&nbsp; &nbsp;$2000
                          </h1>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item active">
                    <a
                      class="text-decoration-none"
                      href="../Categorias/product_1.html"
                    >
                      <div class="card" style="border-radius: 20px">
                        <div class="img-wrapper">
                          <img
                            src="../assets/img/plaguisidas.png"
                            alt="..."
                            style="
                              width: 350px;
                              height: 200px;
                              border-top-left-radius: 20px;
                              border-top-right-radius: 20px;
                            "
                          />
                        </div>
                        <div class="card-body">
                          <h5
                            class="card-title"
                            style="font-family: 'ADLaM Display', serif"
                          >
                            Insecticida para jardín plagas con 26%&nbsp; de
                            descuento
                          </h5>
                          <p
                            class="card-text"
                            style="font-family: 'AR One Sans', sans-serif; text-align: justify"
                          >
                            Plaguicida líquido en presentación de atomizador, especialmente formulado para eliminar cucarachas y otras plagas domésticas de manera rápida y efectiva.
                          </p>
                          <h1>
                            &nbsp;$<span style="text-decoration: line-through"
                              >350</span
                            >&nbsp; &nbsp; &nbsp; $259
                          </h1>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                  style="background: #587a2e"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                    style="color: rgb(171, 86, 86)"
                  ></span
                  ><span class="visually-hidden">Previous</span></button
                ><button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                  style="background: #587a2e"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span
                  ><span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="text-center py-4" style="background: #d9dcbd">
        <div class="container">
          <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
              <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
                <i
                  class="icon-location-pin"
                  style="font-weight: bold; font-size: 25px"
                ></i
                >&nbsp; Av. Álvaro obregón N.- 1796
              </p>
            </div>
            <div class="col">
              <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
                <i
                  class="icon-screen-smartphone"
                  style="
                    color: rgb(88, 122, 46);
                    font-size: 25px;
                    font-weight: bold;
                  "
                ></i
                >&nbsp; 453-537-06-03
              </p>
            </div>
            <div class="col">
              <p class="my-2" style="color: rgb(88, 122, 46); font-size: 19px">
                <i
                  class="icon-envelope"
                  style="
                    color: rgb(88, 122, 46);
                    font-size: 25px;
                    font-weight: bold;
                  "
                ></i
                >&nbsp; yesid_amale@hotmail.com
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="my-2" style="font-size: 19px; color: rgb(88, 122, 46)">
                <strong
                  >TECNM Campus Coalcomán Ingeniería en Sistemas Computacionales
                  6º Semestre-2025&nbsp;&nbsp;</strong
                >
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/baguetteBox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/multiple-item-carousel-slider-multiple-item-carousel-slider-bootstrap.min.js"></script>
    <script src="../assets/js/vanilla-zoom.js"></script>
    <script src="../assets/js/multiple-item-carousel-slider-multiple-item-carousel-slider-slider.js"></script>
    <script src="../assets/js/Theme_Prin.js"></script>
    <script src="../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
  </body>
</html>
